.card-details {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  width: 300px;
}

.image {
  height: 100px;
  width: 80px;
}

.name {
  text-align: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 20px;
  margin-left: 4px;
}
.list-link {
  text-decoration: none;
  margin: 10px;
  color: white;
  font-family: 'Roboto';
}
