.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
}
.team-card-container-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo-ipl-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  height: 50px;
  width: 40px;
  margin-right: 10px;
}
.main-heading {
  color: #ffffff;
}
.team-card-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
